<!DOCTYPE html>
<html>
<head>
    <title>Demo experiment</title>
    <script src="/static/jspsych.js"></script>
    <script src="/static/plugins/jspsych-html-keyboard-response.js"></script>
    <script src="/static/plugins/jspsych-image-audio-response.js"></script>
    <script src="/static/plugins/jspsych-image-audio-response-noplayback.js"></script>
    <script src="/static/plugins/jspsych-instructions.js"></script>
    <link rel="stylesheet" href="/static/css/jspsych.css"></link>
    <style>
        img { width: 300px; }
    </style>
    <meta charset="utf-8" />
</head>
<body></body>
<script>

    let timeline = [];

    /**
     * Function to execute on recorded data. This function should handle saving the data and return a
     * JSON/csv-friendly value which will be inserted into the results. This allows the saved data to be
     * related back to the trial which generated it.
     *
     * This particular function generates an object URL and returns that.
     *
     * @param data - audio data recorded from the user
     * @returns {string} - JSON/csv-friendly data to be inserted into jspsych results report
     */
    const saveFunction = function(data) {
        const blob = new Blob(data, { type: 'audio/webm' });
        let url = URL.createObjectURL(blob);
        return url;
    };

    timeline.push({
        type: 'image-audio-response',
        stimulus: 'img/Match_0008_cabbage_2.png',
        stimulus_duration: 4000,
        postprocessing: saveFunction,
        response_ends_trial: false,
        prompt: "<p>请说出图中物品的数量和名称</p>",
        allowPlayback: true,
        bufferLength: 5000
    });

    timeline.push({
        type: 'image-audio-response',
        stimulus: 'img/Match_0026_calculator_3.png',
        stimulus_duration: 4000,
        postprocessing: saveFunction,
        response_ends_trial: false,
        prompt: "<p>请说出图中物品的数量和名称</p>",
        allowPlayback: true,
        bufferLength: 5000
    });

    timeline.push({
        type: 'image-audio-response',
        stimulus: 'img/Match_0030_sofa_4.png',
        stimulus_duration: 4000,
        postprocessing: saveFunction,
        response_ends_trial: false,
        prompt: "<p>请说出图中物品的数量和名称</p>",
        bufferLength: 5000
    });

    jsPsych.init({
        timeline: timeline,
        on_finish: function(){
            jsPsych.data.displayData();
        }
    });

</script>
</html>
